
@model WebCalc.Models.OperViewModel

@{
    ViewBag.Title = "Calculator";

    var operName = Model.OperName;
    var args = Model.Args;
    var result = Model.Result;

    var error = ViewBag.Error as string;
}
<div class="wrap-calc ">
    <h2>Calculator</h2>

    @using (Html.BeginForm("Index", "Calc", FormMethod.Post, new { @class = "form-group", style = "margin-bottom:40px" })) {
        @Html.Label("Operations:")
        @Html.DropDownList("operName", ViewBag.Operations as SelectList, null, new { @class = "form-control calcItem" })
        <button type="button" class="btn btn-primary" onclick="Like()">Like</button>
        <div class="favoriteOperation">
            @Html.DisplayFor(m=>m.Favorites)
        </div>
        @Html.Label("Input data:")
        @Html.ValidationMessageFor(o=>o.Args);
        @Html.TextBox("args", null, new { @class = "form-control calcItem", value = args })

        <input type="submit" class="btn btn-primary" value="Calc" style="display: inline-block"/>
    }

    <h3>Result: @result</h3>

    @if(!string.IsNullOrWhiteSpace(error)) {
        <div class="alert alert-warning" role="alert">@ViewBag.Error</div>
    }
</div>

<script type="text/javascript">

    function Like() {
        var operName = $("#operName").val();
        $.ajax({
            method: "POST",
            url: "@Url.Action("Like", "Calc")",
            data: { operName: operName }
        })
            .done(function (btn) {
                if (!btn.failed) {
                    $(".favoriteOperation").append(btn);
                }
            });
    }
</script>